<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <appSettings>
        <add key="key" value="SenderName1"/>
        <add key="siteUrl" value="http://localhost:52970/"/>
        <add key="destUrl" value="http://localhost:52970/api/file/UploadFormData"/>
        <add key="sourceFolder" value="F:\Reports"/>
    </appSettings>
</configuration>    